body {
    min-width: 700px;
    font-size:large;
}
.link-table {
    height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.head-row {
    font-weight: bold;
    background-color: lightgray;
}
.cell {
    padding: .5rem;
    max-width: 200px;
    text-align: left;
}
.unencrypted{
    background-color: red;
    color: white;
}
