body {
    width: 700px;
    height: 500px;
    font-size:medium;
    overflow-x: scroll; 
    overflow-y: scroll; 
}
.link-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
 
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.head-row {
    font-weight: bold;
    background-color: lightgray;
}
.cell {
    padding: .5rem;

    text-align: left;
}
.unencrypted{
    background-color: red;
    color: white;
}
